.main_content__container {
  background-color: rgba(45,45,45,0.5);
  padding: 0.5rem;
  border-radius: 1rem;
}
.user__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: snow;
  margin-top: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.1rem #2d2d2d;
}
.user__info__left {
  display: flex;
  width: 20rem;
  align-items: center;
}
.date__info {
  min-width: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  padding: 1rem;
  border: 0.1rem solid snow;
  border-radius: 1rem;
}
.title {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
}
.user__info__right {
  background-color: purple;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid snow;
  font-weight: bold;
}
